body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(217, 217, 217, 1);
  color: rgba(40, 75, 99, 1);
}

h2{
  text-align: center;
  color: rgba(40, 75, 99, 1);
}

.card{
  border: 0px !important;

}
