.loginCard {
  display: flex;
  width: 40%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20vh;
  box-sizing: border-box;
  align-content: center;
}
.loginForm {
  width: 100%;
  box-sizing: border-box;
}
.loginFormDiv {
  display: flex;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}
.loginFormH2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  border-bottom: 4px solid rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.15em
}
.loginFormLabel {
  display: flex;
  float: left;
  width: 50%;
  letter-spacing: 0.10em;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
}

.loginFormInput {
  display: flex;
  float: left;
  width: 50%;
  border-radius: 7px;
  text-align: center;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(255, 255, 255, 1);
  box-shadow: none;
}

.loginFormBtn {
  font-size: 24px;
  font-weight: 700;
  color: rgba(53, 53, 53, 1);
  background: rgba(255, 255, 255, 1);
  display: block;
  width: 150px;
  margin: 0 auto;
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}

/********************************************/
/*  PANTALLAS CON RESOLUCION MENOR A 860 PX */
/********************************************/

@media screen and (max-width: 860px) {
  .loginCard {
    width: 60%;
    max-width: 350px;
    margin-top: 10vh;
  }

  .loginFormLabel {
    display: flex;
    float: left;
    width: 50%;
  }
  
  .loginFormInput {
    display: flex;
    float: left;
    width: 50%;
  }
}

/********************************************/
/*  PANTALLAS CON RESOLUCION MENOR A 415 PX */
/********************************************/

@media screen and (max-width: 415px) {
  .loginCard {
    width: 95%;
    max-width: 300px;
    margin-top: 0vh;
  }

  .loginFormLabel {
    display: none;
  }
  
  .loginFormInput {
    width: 100%;
    display: flex;
    padding: 5px;
    font-size: 25px;
    border: solid 2px rgba(255, 255, 255, 1);
    border-radius: 8px;
}

  .loginFormBtn {
    width: 100%;
    border-radius: 20px;
    border: solid 3px rgba(255, 255, 255, 1);
  }
}