@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Play&display=swap'); /* font-family: 'Play', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap'); /* font-family: 'Open Sans', sans-serif; font-family: 'Oswald', sans-serif; */

html, body {
  font-family: 'Roboto', sans-serif;
  background: rgba(53, 53, 53, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
}