/* Coolors Exported Palette - coolors.co/f91616-fff9f9-6d6767-7c2626-ef4747 */

/* HSL */
$color1: hsla(0%, 95%, 53%, 1);
$color2: hsla(0%, 100%, 99%, 1);
$color3: hsla(0%, 3%, 42%, 1);
$color4: hsla(0%, 53%, 32%, 1);
$color5: hsla(0%, 84%, 61%, 1);

/* RGB */
$color1: rgba(249, 22, 22, 1);
$color2: rgba(255, 249, 249, 1);
$color3: rgba(109, 103, 103, 1);
$color4: rgba(124, 38, 38, 1);
$color5: rgba(239, 71, 71, 1);